/* menu.css */

/* Slide-in Menu */
.slide-menu {
    position: fixed;
    top: var(--navbar-height); /* Offset by NavBar height */
    left: -350px; /* Hidden off-screen */
    width: 150px;
    height: calc(100% - var(--navbar-height)); /* Full height minus NavBar */
    /* background-color: #333; */
    /* color: white; */
    padding: 20px;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); */
    transition: left 0.3s ease;
    z-index: 1000; /* Below NavBar */
}

.slide-menu.open {
    left: 0; /* Slide in */
}

/* Close Button */
.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Menu Items */
.menu-items {
    list-style: none;
    padding: 0;
    margin-top: 40px; /* Adjusted for close button */
    display: flex;
    flex-direction: column;
}

.menu-items li {
    margin: 4px 15px;
}

.menu-items li a {
    /* color: white; */
    text-decoration: none;
    font-size: 1.2em;
}

.menu-items li a:hover {
    text-decoration: underline;
}

/* Overlay */
.menu-overlay {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 999; /* Below NavBar and slide-menu */
}

/* Menu Icon Container */
.menu-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-icon-container:hover {
    background-color: lightgray !important;
}

.menu-icon {
    width: 80%; 
    height: 80%;
    object-fit: contain; 
}
