nav {
    position: sticky;
    border: 2px solid black;
    padding: 2px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    margin: 0px 10px;
}

.auto-left-margin {
    margin-left: auto;
}

.submit-icon {
    width: 50px;
    height: 50px;
}