/* navbar.css */

/* Define CSS variable for NavBar height */
:root {
    --navbar-height: 60px;
}

nav {
    height: var(--navbar-height);
    /* background-color: #adacac;
    color: white; */
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001; /* Ensure NavBar is above the slide-menu */
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul li {
    margin: 0 10px;
}

/* Spacer to push elements to the right */
.auto-left-margin {
    flex-grow: 1;
}

/* Other NavBar styles */
#secrets {
    font-size: 1.5em;
    /* color: white; */
    text-decoration: none;
    margin-left: 20px;
}

#secrets:hover {
    text-decoration: underline;
}

/* Ensure the body content starts below the NavBar */
body {
    padding-top: var(--navbar-height);
}
